Django>=4.2
djangorestframework>=3.14
pdfplumber>=0.10
spacy>=3.7
scikit-learn>=1.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
gunicorn

whitenoise

python-decouple

psycopg2-binary